.container {
    background: #1a1a2e;
  }
  
  .header {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 60px;
    background: #22223b;
    color: #f1f1f1;
  }
  
  .title {
    margin-top: 20px;
    margin-left: 25px;
  }
  
  .divider {
    border: none;
    border-bottom: 1px solid #444;
  }
  
  .conversation-list {
    height: calc(100vh - 171px);
    overflow-y: auto;
  }
  
  .conversation-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #2a2a4b;
    border-radius: 8px;
  }
  
  .no-conversations {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    background: #2C3E50;
  }
  
  .no-conversations-title {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .no-conversations-info {
    color: #888;
    max-width: 70%;
    text-align: center;
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
  }
  